extends ../layouts/app

block content 
    ul.list-group
        li.list-group-item.active 
            h4 #{title}
        each article, i in articles
            li.list-group-item 
                a(href="/articles/"+article._id)= article.title